.botao-b
	justify-content: center
	align-items: center
	+clearfix
	+flexbox
	margin-top: 20px

	button
		width: 280px
		height: 59px
		border: 4px solid $marrom
		border-radius: 3px
		outline: none
		cursor: pointer
		background-color: transparent
		color: $marrom
		position: relative
		+transition(.5s)
		overflow: hidden

		&:hover
		  background-color: $marrom
		  color: $branco
		  transform: scale(1.2)
		  
		h2
			font-family: Raleway
			text-transform: uppercase
			font-size: 28px
			margin-top: 9px
			text-align: center

			

			
				


			


