.nempreendimentos

	margin-top: 10px

	h1
		font-family: Raleway
		text-transform: uppercase
		color: $marrom
		text-align: center
		font-size: 35px

		+breakpoint($tablet-dubs2)
			font-size: 30px

		+breakpoint($smartphone-lcva2)
			font-size: 28px
