/*Botão utilizado no blog para ação*/
/*Area do Botão*/
.botao-b
	justify-content: center
	align-items: center
	+clearfix
	+flexbox
	margin-top: 20px
	
	/*Media Queries*/
	+breakpoint($tablet-mod)
		margin-top: 35px
		
	/*Estilização do Botão*/
	button
		width: 280px
		height: 59px
		border: 4px solid $marrom
		border-radius: 20px
		outline: none
		cursor: pointer
		background-color: transparent
		color: $marrom
		position: relative
		+transition(.5s)
		overflow: hidden

		/*Media Queries*/
		+breakpoint($tablet-mod)
			width: 238px
			height: 50px

		+breakpoint($smartphone-aut)
			width: 190px
			height: 40px
			
		/*Efeito de Cursor*/
		&:hover
		  background-color: $marrom
		  color: $branco

		&:focus
			outline: none
		  
		/*Texto do Botão*/
		h2
			font-family: Raleway
			text-transform: uppercase
			font-size: 28px
			margin-top: 7px
			text-align: center

			/*Media Queries*/
			+breakpoint($tablet-mod)
				font-size: 23px
				margin-top: 6px

			+breakpoint($smartphone-aut)
				font-size: 19px
				margin-top: 3px

			

			
				


			


