//Estilo do resumo da pagina de parcerias na pagina inicial
.parcerias

//Alinhamento do container
.parcerias-res

	margin-top: 30px

	//Titulo
	h1
		font-family: Raleway
		text-transform: uppercase
		color: $marrom
		text-align: center
		font-size: 35px

		//Midia Queries
		+breakpoint($tablet-dubs2)
			font-size: 30px

		+breakpoint($smartphone-lcva2)
			font-size: 28px

	//Tamenho da fonte da descrição Icones
	h2
		font-size: 25px

	//Descrição dos icones
	.desc

		h2
		font-family: Raleway		
		text-align: center
		color: $marrom

	//Paragrafo
	p
		font-family: Open Sans
		font-size: 23px
		color: $preto
		text-align: center
		margin-top: 15px

		+breakpoint($tablet-dubs2)
			font-size: 20px
