/*Area com as 2 postagens em destaque do blog na pagina inicial*/
/*O botão desta area esta editado no arquivo _botao-blog.sass localizado na pasta atomos*/
/*Altura e espaçamento da area*/
.area-blog

	margin-top: 25px

	/*Media Queries*/
	+breakpoint($desktop-med)
		margin-top: 3%

	+breakpoint($tablet-mod)
		margin-top: 15px

	+breakpoint($tablet-dubs2)
		margin-top: 20px

	+breakpoint($smartphone-lcva2)
		margin-top: 20px

	+breakpoint($smartphone-mud2)
		margin-top: 20px

	/*Area especifica do blog*/
	.blog-resumo

		/*Cabeçalho do Blog*/
		.cabecalho-pg

			/*Titulo Especifico d eCabeçalho*/
			h1
				font-family: Raleway
				font-size: 35px
				text-transform: uppercase
				color: $marrom
				text-align: center

		/*Posts do Blog*/
		.post-resumos

			margin-top: 15px

			/*Foto do Post*/
			.foto-post

				margin-top: 10px

				/*Altura e Largura da Foto Especifica do Post*/
				img
					width: 100%
					height: auto


			/*Post*/
			article

				margin-top: 10px

				/*Titulo do Post*/
				h1
					font-family: Raleway
					font-size: 35px
					color: $marrom
					text-align: center
					margin-top: 10px

				/*Paragrafo do Post*/
				p
					font-family: Open Sans
					font-size: 25px
					color: $preto
					text-align: center
					margin-top: 10px