/*Estilização do menu-responsivo contido nas paginas do site apenas visivel em alguns dispositivos*/
/*A função JavaScript do menu responsivo esta localizada na pasta js com o nome de menu-responsivo.js*/
/*Area do menu responsivo*/
.responsive
	/*Area de listagem do menu responsivo*/
	ul
	 width: 100%
	 background-color: rgba(169,52,57,1.0)
	 justify-content: center
	 top: 2px
	 display: none
	 z-index: 110
	 position: absolute
	 margin-top: 151px

	 +breakpoint($smartphone-med3)
	 	margin-top: 110px


	 /*Efeito para aplicação da função no JavaScript*/
	 &.active
		 display: none

		 /*Media Queries*/
		 +breakpoint($tablet2)
		 	display: block
		
	/*Formatação de cada item em especifico do menu*/
	li
	 text-align: center
	 border-bottom: 1px solid $branco
	 cursor: pointer
	
	 /*Efeito de Cursor*/
	 &:hover
		 background-color: rgba(202,169,119,1.0) 
	
		/*Formatação de icones de ancoragem*/
		a
			font-size: 18px
			font-family: Raleway
			text-transform: uppercase
			color: $branco


		




