/*Estilização da sessão de status das obras localizada nas paginas especificas dos empreendimentos*/
/*A estilização da barra de progresso se encontra no arquivo _barra-obras na pasta moleculas*/
/*A estilização da galeria de foto das obras se encontra no arquivo _galeria-de-imagens na pasta organismo*/
.status
	margin-top: 20px

	.ares-status
		margin-top: 20px

	.imgob
		margin-top: 20px

		h2
			font-family: Raleway
			font-size: 30px
			color: $marrom
			text-transform: uppercase