.paginacao
	margin-top: 50px

	ul
		+flexbox
		margin-left: 43px

		
		
		
		li
			width: 48px
			height: 54px
			border: 2px solid $marrom
			background-color: transparent
			border-radius: 3px
			position: relative
			margin-left: 15px	

			.numerais
				font-family: Open Sans
				font-size: 48px
				color: $marrom
				margin-left: 9px
				margin-top: -12px


			.inicio
				margin-left: -4px
				margin-top: 3px

				img
					margin-top: 3px
					margin-left: 5px
					position: absolute

			.primeira
				margin-left: -12px
				margin-top: 6px

				img
					margin-left: 20px
					position: absolute
					transform: rotate(180deg)

			.inicio2
				margin-left: -1px
				margin-top: 3px


				img
					margin-top: 3px
					margin-left: 5px
					position: absolute
					transform: rotate(180deg)

			.primeira2
				margin-left: -8px
				margin-top: 6px


				img
					margin-left: 20px
					position: absolute

			





					




		
			

