.slider
	width: 100%
	height: 520px
	background-color: #254

	

	.textslider
		+flexbox
		justify-content: center
		align-items: center
		padding-top: 230px
		width: 100%
		
	

		p
			font-size: 40px
			color: $branco
			font-family: Raleway
		    text-transform: uppercase
		    text-align: center

		   



