/*Estilos de base das paginas especificas de cada empreendimento*/

/*Alinhamento da Pagina*/
.contemp
	padding-bottom: 210px
	height: 100%
	position: relative
	margin-top: 3px

	/*Area de destaque da pagina*/
	.capa
		background-color: $vinho
		+clearfix

		/*Imagem Destacada*/
		img
			width: 100%
			height: auto
			margin-top: -5px

		/*Informaçoes dos empreendimentos*/
		.info
			display: block
			margin-top: 5px

			/*Nome do Empreendimento*/
			h1
				font-family: Raleway
				font-size: 33px
				color: $branco 
				text-transform: uppercase
			
			/*Especificaçoes do Empreendimento*/
			h2
				margin-top: -12px
				font-size: 25px
				font-family: Open Sans
				color: $branco

        /*Localização dos empreendimentos*/
		.cidade
			+flexbox
			margin-top: 12px
			justify-content: center


			/*Icone de Mapa*/
			i 
				font-size: 50px
				color: $branco

			/*Nome da Cidade*/
			h1 
				font-family: Raleway
				font-size: 33px
				color: $branco
				margin-top: 5px
				margin-left: 20px
	
	/*Menu de Navegação das Paginas de Empreendimentos*/
	.menu-emp

		margin-top: 30px

		/*Listas de Menu*/
		ul
			+flexbox
			justify-content: space-around

			/*Itens de Menu*/
			li 
				border: 3px solid $marrom
				border-radius: 4px 
				color: $marrom
				text-transform: uppercase
				font-size: 20px
				font-family: Raleway
				padding: 5px
				+transition(.3s)

				/*Efeito de passar o cursor*/
				&:hover
					background-color: $marrom
					color: $branco
	
	/*Altura da Imagem do Post Sobre*/
	.foto-sobre
		margin-top: 20px

	/*Altura dos Botoes de Compartilhamento*/
	.page
		margin-top: 8px

	/*Itens Globais das Paginas de Empreendimentos*/
	section

		/*Imagens de Post*/
		img
			width: 100%
			height: auto

		/*Titulos das Sessoes*/
		h1
			font-family: Raleway
			font-size: 40px
			text-transform: uppercase
			color: $marrom

		/*Paragrafo de Artigo*/
		p 
			font-family: Open Sans
			font-size: 25px
			color: $preto
			margin-top: 10px









	
	

	
		 
	

	
	 

	 
		
		 




		



        
