/*Area da descrição da filosofia empresarial, utilizada na pagina sobre*/
/*Alinhamento e posicionamento da area da pagina e icones*/
.filosofia
	
	justify-content: center
	align-items: center
	text-align: center
	flex-wrap: wrap-reverse
	+flexbox
	flex-direction: row
	position: relative
	width: 100%

	/*Medis Queries*/
	+breakpoint($tablet-mor)
		width: 70%
		margin-left: 13%

	+breakpoint($tablet-dubs2)
		width: 100%
		margin-left: 0

	/*Definição do tamanho real das imagens*/
	.imagem
		
		img 
			width: 50%
			width: 50%

	/*Alinhamento do texto 1*/
	.text1
		
		margin-top: 12px

		/*Titulo do Missão*/
		h1
			font-family: Raleway
			font-Size: 40px
			color: $marrom-escuro

		/*Texto de Missão*/
		p
			font-family: Open Sans
			font-Size: 20px
			color: $preto


	/*Alinhamento do texto 2*/
	.text2

		margin-top: 31px

		/*Titulo do Visão*/
		h1
			font-family: Raleway
			font-Size: 40px
			color: $marrom-escuro

		/*Texto de Visão*/
		p
			font-family: Open Sans
			font-Size: 20px
			color: $preto


	/*Alinhamento do texto 3*/
	.text3

		margin-top: 34px

		/*Titulo do Valores*/
		h1
			font-family: Raleway
			font-Size: 40px
			color: $marrom-escuro

		/*Texto de Valores*/
		p
			font-family: Open Sans
			font-Size: 20px
			color: $preto








