.area-blog

	margin-top: 30px

	.blog-resumo

		.cabecalho-pg

			h1
				font-family: Raleway
				font-size: 30px
				text-transform: uppercase
				color: $marrom
				text-align: center

		.post-resumos

			margin-top: 15px

			.foto-post

				margin-top: 10px

				img
					width: 100%
					height: auto


			article

				margin-top: 10px

				h1
					font-family: Raleway
					font-size: 40px
					color: $marrom
					text-align: left
					margin-top: 10px

				p
					font-family: Open Sans
					font-size: 30px
					color: $preto
					text-align: left
					margin-top: 10px