.principal
	font-size: 18px 
	text-align: center

	+breakpoint($desktop-med)
		width: 100%

.par
	float: right
	font-size: 25px 
	text-align: center

.con
	float: right
	font-size: 25px 
	text-align: center
	
	


	
	

	



	