/*Botoes de enviar localizados nos formularios do site*/
/*Formulario da Pagina Inicial*/
.principal
	font-size: 18px 
	text-align: center

	/*Media Queries*/
	+breakpoint($desktop-med)
		width: 100%

/*Formulario da Pagina de Parcerias*/
.par
	float: right
	font-size: 25px 
	text-align: center

/*Formulario da Pagina de Parcerias*/
.con
	float: right
	font-size: 25px 
	text-align: center
	
	


	
	

	



	