.areablog
	//background-color: #456
	width: 100%
	height: 100%
	position: relative
	padding-bottom: 250px
	margin-top: 20px

.blog
	position: relative

	h1
	 text-transform: uppercase
	 font-family: Raleway
	 font-size: 40px
	 color: $marrom
	 
	 +breakpoint($smartphone-pad2)
	 	font-size: 28px

	
	.categorias



		ul

			+flexbox
			justify-content: space-between
			align-itens: space-between
			flex-wrap: wrap

			.l
				background-color: $verde-blog
				width: 136px
				height: 28px
				border-radius: 5px
				text-align: center
				overflow: hidden

				&:hover
					background-color: $vinho-blog


				a
					font-family: Raleway
					text-transform: uppercase
					color: $branco 
					font-size: 16px
					

			.o
				background-color: $dourado
				width: 70px
				height: 28px
				border-radius: 5px
				text-align: center
				overflow: hidden

				&:hover
					background-color: $vinho-blog
				
				a
					font-family: Raleway
					text-transform: uppercase
					color: $branco 
					font-size: 16px

			.m
				background-color: $vermelho-blog
				width: 200px
				height: 28px
				border-radius: 5px
				text-align: center

				&:hover
					background-color: $vinho-blog
				
				a
					font-family: Raleway
					text-transform: uppercase
					color: $branco 
					font-size: 16px

			.v
				background-color: $marrom
				width: 110px
				height: 28px
				border-radius: 5px
				text-align: center

				&:hover
					background-color: $vinho-blog
				
				a
					font-family: Raleway
					text-transform: uppercase
					color: $branco 
					font-size: 16px

			.e
				background-color: #0E3144
				width: 170px
				height: 28px
				border-radius: 5px
				text-align: center

				&:hover
					background-color: $vinho-blog
				
				a
					font-family: Raleway
					text-transform: uppercase
					color: $branco 
					font-size: 16px
	.posts

		
	 


