.areaemp
	//background-color: #456
	width: 100%
	height: 100%
	position: relative
	padding-bottom: 250px
	margin-top: 20px

	+breakpoint($tablet-mzv)
		padding-bottom: 250px

	+breakpoint($smartphone-med3)
		padding-bottom: 250px
		

	h1
	 text-transform: uppercase
	 font-family: Raleway
	 font-size: 40px
	 color: $marrom

	 +breakpoint($tablet-yatr)
	 	 font-size: 35px

	 +breakpoint($smartphone-luca)
	 	 font-size: 30px

	 +breakpoint($smartphone-tid)
	 	 font-size: 28px

	 +breakpoint($smartphone-pua)
	 	 font-size: 25px


	.portifolio
		//background-color: #456
		width: 100%
		+clearfix
		+flexbox
		flex-wrap: wrap
		margin-top: 5px
		margin-left: 10px

		+breakpoint($desktop-med)
			margin-left: 30px

		+breakpoint($tablet-mod)
			margin-left: 15px

		+breakpoint($tablet-mor)
			margin-left: 15px

		+breakpoint($tablet-romc2)
			flex-direction: column
			width: 0
			margin-left: 25%
		
		+breakpoint($tablet-pogg2)
			flex-direction: column
			+flexbox
			width: 0
			margin-left: 20%

		+breakpoint($tablet-uwer1)
			flex-direction: column
			+flexbox
			width: 0
			margin-left: 18%

		+breakpoint($tablet-yatr2)
			flex-direction: column
			+flexbox
			width: 0
			margin-left: 16%

		+breakpoint($smartphone-wide)
			flex-direction: column
			display: block
			width: 0
			margin-left: 65px


		+breakpoint($smartphone-wide2)
			flex-direction: row
			display: block
			width: 0
			margin-left: 60px

		+breakpoint($smartphone-deb)
			flex-direction: row
			display: block
			width: 0
			margin-left: 55px

		+breakpoint($smartphone-tid2)
			flex-direction: row
			display: block
			width: 0
			margin-left: 45px

		+breakpoint($smartphone-tid)
			flex-direction: row
			display: block
			width: 0
			margin-left: 35px


		+breakpoint($smartphone-pad)
			flex-direction: row
			display: block
			width: 0
			margin-left: 30px

		+breakpoint($smartphone-med2)
			flex-direction: row
			display: block
			width: 0
			margin-left: 25px

		+breakpoint($smartphone-med4)
			flex-direction: row
			display: block
			width: 0
			margin-left: 20px

		+breakpoint($smartphone-med3)
			flex-direction: row
			display: block
			width: 0
			margin-left: 15px

		+breakpoint($smartphone-med)
			flex-direction: row
			display: block
			width: 0
			margin-left: 12px

		+breakpoint($smartphone-med)
			flex-direction: row
			display: block
			width: 0
			margin-left: 8px

		+breakpoint($smartphone-pua)
			flex-direction: row
			display: block
			width: 0
			margin-left: 5px

		+breakpoint($smartphone-mud)
			flex-direction: row
			display: block
			width: 0
			margin-left: 0


		.avatar
			background-color: $cinza-claro
			width: 555px
			height: 555px
			border: solid 3px $preto
			margin: 18px 24px 0 0
			+transition(.3s)

			&:hover
				background-color: $cinza-medio
			
			+breakpoint($desktop-med)
				width: 415px
				height: 470px
				margin: 18px 63px 0 0

			+breakpoint($tablet-mod)
				width: 305px
				height: 412px
				margin: 10px 63px 0 0

			+breakpoint($tablet-mor)
				width: 305px
				height: 412px
				margin: 10px 35px 0 0

			+breakpoint($tablet-dar2)
				width: 305px
				height: 412px
				margin: 10px 28px 0 0

			+breakpoint($tablet-dsa2)
				width: 305px
				height: 412px
				margin: 10px 20px 0 0

			+breakpoint($tablet-momc)
				width: 305px
				height: 412px
				margin: 10px 10px 0 0

			+breakpoint($smartphone-tuc2)
				width: 280px
				height: 390px
				margin: 10px 35px 0 0


			ul
				margin-top: 3%


				li
					font-family: Open Sans
					font-size: 33px
					text-align: center
					color: $marrom
					line-height: 40px
					+transition(.5s)


					&:hover
						transform: scale(1.1)
						color: $branco


					+breakpoint($desktop-med)
					   font-size: 30px

					+breakpoint($tablet-mod)
					   font-size: 22px


		 .barraint
		 	background-color: $preto
		 	width: 555px
		 	height: 5px

		 	+breakpoint($desktop-med)
		 		width: 415px

		 	+breakpoint($tablet-mod)
		 		width: 305px

		 	+breakpoint($smartphone-tuc2)
		 		width: 280px







				




	
		


	


	



