.areablog
	//background-color: #456
	width: 100%
	height: 100%
	position: relative
	padding-bottom: 250px
	margin-top: 20px

.blog
	position: relative

	h1
	 text-transform: uppercase
	 font-family: Raleway
	 font-size: 40px
	 color: $marrom
	 
	 +breakpoint($smartphone-pad2)
	 	font-size: 28px

	
	.categorias


		
	 


