.areaemp
	//background-color: #456
	width: 100%
	height: 100%
	position: relative
	padding-bottom: 250px
	margin-top: 20px

		
	h1
	 text-transform: uppercase
	 font-family: Raleway
	 font-size: 40px
	 color: $marrom


	.portifolio
		background-color: #456
		width: 100%
		position: relative
		+clearfix
		+flexbox
		flex-wrap: wrap
		flex-directiom: row



		.avatar
			background-color: $cinza-claro
			width: 100%
			height: 555px
			border: solid 3px $preto
			margin: 18px 24px 0 0
			+transition(.3s)

			&:hover
				background-color: $cinza-medio
			
			
			ul
				margin-top: 3%


				li
					font-family: Open Sans
					font-size: 33px
					text-align: center
					color: $marrom
					line-height: 40px
					+transition(.5s)


					&:hover
						transform: scale(1.1)
						color: $branco

		 .barraint
		 	background-color: $preto
		 	width: 100%
		 	height: 4px





				




	
		


	


	



