.areapar
	//background-color: #456
	width: 100%
	height: 100%
	position: relative
	padding-bottom: 225px
	margin-top: 20px

	+breakpoint($tablet-mzv)
		padding-bottom: 235px

	+breakpoint($smartphone-med3)
		padding-bottom: 235px
		

.parcerias
	
	h1
	 text-transform: uppercase
	 font-family: Raleway
	 font-size: 40px
	 color: $marrom

	 +breakpoint($tablet-yatr)
	 	 font-size: 35px

	 +breakpoint($smartphone-luca)
	 	 font-size: 30px

	 +breakpoint($smartphone-tid)
	 	 font-size: 28px

	 +breakpoint($smartphone-pua)
	 	 font-size: 25px


	article

		font-family: Open Sans
		text-align: left
		margin-top: 5px

		p
		 font-size: 20px
		 line-height: 30px

