.areaemp
	//background-color: #456
	width: 100%
	height: 100%
	position: relative
	padding-bottom: 250px
	margin-top: 20px

		
	h1
	 text-transform: uppercase
	 font-family: Raleway
	 font-size: 40px
	 color: $marrom


	.portifolio
		width: 100%
		height: 100%
		background-color: #254
		position: relative
		+flexbox
		//margin-top: -30px
	
