.filosofia
	
	//background-color: #254
	justify-content: center
	align-items: center
	text-align: center
	flex-wrap: wrap-reverse
	+flexbox
	flex-direction: row
	position: relative
	width: 100%

	+breakpoint($tablet-mor)
		width: 70%
		margin-left: 13%

	+breakpoint($tablet-dubs2)
		width: 100%
		margin-left: 0

	.imagem
		
		//background-color: #452

		img 
			width: 50%
			width: 50%

	.text1
		
		//background-color: #258
		margin-top: 12px

		h1
			font-family: Raleway
			font-Size: 40px
			color: $marrom-escuro

		p
			font-family: Open Sans
			font-Size: 20px
			color: $preto


	.text2

		//background-color: #256
		margin-top: 31px

		h1
			font-family: Raleway
			font-Size: 40px
			color: $marrom-escuro

		p
			font-family: Open Sans
			font-Size: 20px
			color: $preto


	.text3

		//background-color: #257
		margin-top: 34px

		h1
			font-family: Raleway
			font-Size: 40px
			color: $marrom-escuro

		p
			font-family: Open Sans
			font-Size: 20px
			color: $preto








