.formulario

	+clearfix
	+flexbox
	flex-direction: row
	flex-wrap: wrap

	+breakpoint($tablet-maio)
		flex-direction: column

		
	.item		
		margin: 8px 15px 0 0
		+placeholder($marrom)


	.cname
		
		width: 44%
		height: 20px
		outline: none
		font-family: Open Sans
		font-size: 18px
		color: $marrom

		&:hover
			outline: solid 2px $marrom

		&:focus
			outline: solid 2px $vinho-tinto

		+breakpoint($tablet-mod)
			width: 40%
		


		+breakpoint($tablet-maio)
			width: 97%
		
		
		+breakpoint($tablet-dlag)
			width: 96%

		+breakpoint($tablet-midi)
			width: 96%

		+breakpoint($smartphone-pud)
			width: 95%



		+breakpoint($smartphone-pad)
			width: 94%

		
		+breakpoint($smartphone)
			width: 93%


	.cemail

		width: 44%
		height: 20px
		outline: none	
		font-family: Open Sans
		font-size: 18px
		color: $marrom
		+placeholder($marrom)
		
		&:hover
			outline: solid 2px $marrom

		&:focus
			outline: solid 2px $vinho-tinto

		+breakpoint($tablet-mod)
			width: 40%


		+breakpoint($tablet-maio)
			width: 97%


		+breakpoint($tablet-dlag)
			width: 96%

		+breakpoint($tablet-midi)
			width: 96%


		+breakpoint($smartphone-pud)
			width: 95%


		+breakpoint($smartphone-pad)
			width: 94%

		+breakpoint($smartphone)
			width: 93%



	

		 


	























	
	





				


			
		   








	





		
	
		
		


		
		
		


	
		






		


		    

     



	 


      


		
		




		
		
		
	