form
	+clearfix
	+make-row
	position: relative
	width: 100%


	.campos
		+flexbox
		+clearfix
		flex-direction: column
		flex-wrap: wrap
		width: 100%
		position: relative
	
	
		input
			height: 30px
			width: 100%	
			+placeholder($marrom)
			position: relative
			border: 100% solid $marrom


		textarea
			height: 210px
			width: 100%
			resize: none
			border: 100% solid $marrom
			+placeholder($marrom)


		select
			color: $marrom
			option: checked
			height: 30px
			width: 100%
			border: 100% solid $marrom
			background: $branco



	.item
		width: 100%
		font-family: Open Sans
		font-size: 18px
		color: $marrom

		&:hover
			outline: solid 2px $dourado

		&:focus
			outline: solid 2px $vinho
	

	button

		+breakpoint($tablet-ms)
			margin: 0 0 0 0
			width: 100%


