/*modelo de estyilização das galerias de imagem utilizadas nas paginas especificas dos emppreendimentos*/

/*Estilo Geral das Galerias de Imagens*/

.slider
	border: solid 3px #000
	position: relative
	overflow: hidden
	z-index: 100



	.exibicao
		position: relative

		.ex 
			width: 100%
			height: auto
		
		

		.desc
			font-family: Open-Sans
			font-size: 23px
			background: rgba(0,0,0,0.5)
			width: 100%
			height: 35px
			position: absolute
		
			z-index: 101
			color: #fff
			padding-left: 5px
			padding-bottom: 5px
			bottom: 18px

	.miniaturas
		+flexbox
		background: #000
		padding: 5px
		position: relative
		margin-left: -10px
		margin-top: -18px
		z-index: 102

		+breakpoint($desktop-med)
			margin-left: -15px

		

		.ex
			margin-left: 3px
			margin-top: 3px
			width: 24%
			height: 24%
			cursor: pointer
			position: relative
			opacity: 0.5

			&:hover
				opacity: 100

	.botoes-slid
		margin-top: -400px
		position: absolute
		+clearfix
		+flexbox

		+breakpoint($desktop-med)
			margin-top: -340px

		+breakpoint($tablet-mod)
			margin-top: -260px
		



	.next
		
		position: relative

		i 
			font-size: 50px
			position: absolute
			margin-left: 1030px
			cursor: pointer
			color: #fff

			+breakpoint($desktop-med)
				margin-left: 845px

			+breakpoint($tablet-mod)
				margin-left: 610px

	.prev
		
		position: relative

		i 
			font-size: 50px
			position: absolute
			cursor: pointer
			margin-left: 10px
			color: #fff
			transform: rotate(180deg)








		







/*Estilo Especifico da seção das Galerias de Imagens*/
.galeria
	margin-top: 20px



	/*Altura da imagem de urbanistico/planta com relação a sua area*/
	.graficos
		margin-top: 20px