/*modelo de estyilização das galerias de imagem utilizadas nas paginas especificas dos emppreendimentos*/

/*Estilo Geral das Galerias de Imagens*/
.slider-for-resp
	z-index: 100 !important
	position: relative

	div
		img



		p 
			font-family: Open Sans 
			font-size: 20px !important
			position: relative !important
			color: $branco !important
			padding: 5px
			z-index: 108 !important
			background: rgba(0,0,0,0.5)
			width: 100%
			margin-top: -40px !important

			+breakpoint($tablet-yatr2)
				font-size: 12px !important
				padding: 3px !important
				margin-top: -24px !important

			+breakpoint($smartphone-deb2)
				font-size: 10px !important
				padding: 3px !important
				margin-top: -21px !important

.slider-nav-resp 
	position: relative
	margin-top: -20px 

	div

		img 
.slider-for
	z-index: 100 !important
	position: relative

	div
		img



		p 
			font-family: Open Sans 
			font-size: 20px !important
			position: relative !important
			color: $branco !important
			padding: 5px
			z-index: 108 !important
			background: rgba(0,0,0,0.5)
			width: 100%
			margin-top: -40px !important

			+breakpoint($tablet-yatr2)
				font-size: 12px !important
				padding: 3px !important
				margin-top: -24px !important

			+breakpoint($smartphone-deb2)
				font-size: 10px !important
				padding: 3px !important
				margin-top: -21px !important

.slider-nav 
	position: relative
	margin-top: -20px 

	div

		img 

.slider-normal
	display: block

	+breakpoint($tablet-mod)
		display: none

.slider-resp
	display: none

	+breakpoint($tablet-mod)
		display: block






		







/*Estilo Especifico da seção das Galerias de Imagens*/
.galeria
	margin-top: 20px



	/*Altura da imagem de urbanistico/planta com relação a sua area*/
	.graficos
		margin-top: 20px