.perfil
	background-color: $cinza-claro
	height: 580px
	width: 100%
	position: relative
	border: solid 3px $preto
	border-radius: 4px
	+transition(.6s)
	margin-top: 30px

	+breakpoint($desktop-med)
		height: 530px

	+breakpoint($tablet-mod)
		height: 400px

	+breakpoint($tablet-mor)
		height: 580px

	+breakpoint($tablet-dubs2)
		height: auto
		padding-bottom: 28px
		postion: relative

	&:hover
		background-color: $cinza-escuro

	.foto-e
			
		img
			border-bottom: solid 3px $preto
			width: 100%
			+transition(.6s)

			&:hover
			  opacity: 0.6
		 	  filter: alpha(opacity=60)

	.especificacoes

		margin-top: 10px

		ul
			text-align: center
			li
				font-family: Open Sans
				font-size: 33px
				color: $marrom
				+transition(.5s)

				+breakpoint($tablet-mod)
					font-size: 23px

				+breakpoint($tablet-mor)
					font-size: 33px

				+breakpoint($smartphone-deb)
					font-size: 28px

				+breakpoint($smartphone-med2)
					font-size: 23px
				
				+breakpoint($smartphone-tud3)
					font-size: 18px

				&:hover
					transform: scale(1.2)
					color: $branco

					+breakpoint($desktop-med)
						transform: scale(1.0)
						color: $marrom






	
		


	


	



