.perfil
	background-color: $cinza-claro
	height: 580px
	width: 100%
	position: relative
	border: solid 3px $preto

	.foto-e

		&:hover
			background-color: $dourado
		

		.borda

			&:hover
				position: absolute
				border: solid 8px $dourado
				width: 80%
				margin-left: 50px




			h1



				&:hover
					font-family: Raleway
					text-align: center
					color: $dourado
					font-size: 30px
				


		
		img
			border-bottom: solid 3px $preto
		

	.especificacoes

		margin-top: 10px

		ul
			text-align: center
			li
				font-family: Open Sans
				font-size: 33px
				color: $marrom






	
		


	


	



