.post1
	
	width: 100%
	position: relative

	.title

		h1
			font-family: Raleway
			font-size: 33px
			color: $marrom
			text-align: left
			margin-top: 10px
			text-transform: none

			+breakpoint($tablet-dubs2)
				font-size: 30px

			+breakpoint($smartphone-aut)
				font-size: 20px


			

	.foto-post

		img
			width: 100%
			height: auto

	article
			
		p
			font-family: Open Sans
			font-size: 23px
			color: $preto
			text-align: left
			margin-top: 10px

			+breakpoint($tablet-dubs2)
				font-size: 20px

			+breakpoint($smartphone-aut)
				font-size: 16px




