.nothing
	+clearfix

	h2
		font-family: Raleway
		font-size: 23px
		color: $preto

.resultados

	width: 100%
	height: 230px
	background-color: $dourado

	.image-post

		width: 100%
		height: 230px
		background-color: $vinho


		img 

	article
	

		h1
			font-size: 23px
			font-family: Raleway
			color: $marrom
			
		p
			font-family: Open Sans
			font-size: 16px
			color: $preto

