.post1
	
	width: 100%
	position: relative

	.foto-post

		img
			width: 100%
			height: auto

	article

		h1
			font-family: Raleway
			font-size: 35px
			color: $marrom
			text-align: left
			margin-top: 10px
			text-transform: none
			
		p
			font-family: Open Sans
			font-size: 25px
			color: $preto
			text-align: left
			margin-top: 10px


.post2
	
	width: 100%
	position: relative
	margin-top: 50px

	.foto-post

		img
			width: 100%
			height: auto

	article

		h1
			font-family: Raleway
			font-size: 35px
			color: $marrom
			text-align: left
			margin-top: 10px
			text-transform: none

		p
			font-family: Open Sans
			font-size: 25px
			color: $preto
			text-align: left
			margin-top: 10px
	    


.post3

	width: 100%
	position: relative
	margin-top: 50px

	.foto-post

		img
			width: 100%
			height: auto

	article

		h1
			font-family: Raleway
			font-size: 35px
			color: $marrom
			text-align: left
			margin-top: 10px
			text-transform: none

		p
			font-family: Open Sans
			font-size: 25px
			color: $preto
			text-align: left
			margin-top: 10px
	    



.post4
	
	width: 100%
	position: relative
	margin-top: 50px

	.foto-post

		img
			width: 100%
			height: auto

	article

		h1
			font-family: Raleway
			font-size: 35px
			color: $marrom
			text-align: left
			margin-top: 10px
			text-transform: none

		p
			font-family: Open Sans
			font-size: 25px
			color: $preto
			text-align: left
			margin-top: 10px
	     




