.post1
	
	width: 100%
	position: relative

	.site-map

		margin-top: -14px

		+breakpoint($tablet-mod)
			margin-top: -11px

		.caminho
			justify-content: flex-start

			h4
				font-family: Open Sans
				font-size: 15px
				color: $preto
				text-align: left
			a
				text-decoration: none
				font-family: Open Sans
				font-size: 15px
				color: $preto
				text-align: left
		.date
			justify-content: flex-end

			+breakpoint($tablet-mor)
				margin-top: -8px

			h4
				font-family: Open Sans
				font-size: 15px
				color: $preto
				text-align: right

				+breakpoint($tablet-mor)
					text-align: left

			

	.title
		margin-top: -3px

		h1
			font-family: Raleway
			font-size: 33px
			color: $marrom
			text-align: left
			margin-top: 10px
			text-transform: none

			+breakpoint($tablet-dubs2)
				font-size: 30px

			+breakpoint($smartphone-aut)
				font-size: 20px


			

	.foto-post

		margin-top: -3px

		img
			width: 100%
			height: auto

	article
			
		p
			font-family: Open Sans
			font-size: 23px
			color: $preto
			text-align: left
			margin-top: 10px

			+breakpoint($tablet-dubs2)
				font-size: 20px

			+breakpoint($smartphone-aut)
				font-size: 16px
	

.relacionados
	margin-top: 25px
	width: 100%


	h2
		font-size: 34px
		font-family: Raleway
		color: $marrom

		+breakpoint($tablet-mod)
			font-size: 25px

		+breakpoint($tablet-mor)
			font-size: 22px
	
	.fotopr-1

		width: 351px
		height: 212px
		margin-top: 5px
		position: relative
		display: block
		//background-color: $dourado

		+breakpoint($desktop-med)
			width: 296px
			height: 179px

		+breakpoint($tablet-mod)
			width: 218px
			height: 132px

		+breakpoint($tablet-mor)
			width: 171px
			height: 104px

		+breakpoint($tablet-dubs2)
			width: 100%
			height: auto
			margin-top: -1px

		img
			width: 100%
			height: auto
			position: relative
	h3
		font-family: Raleway
		font-size: 20px
		color: $marrom
		margin-top: 5px

		+breakpoint($tablet-mor)
			font-size: 17px

		+breakpoint($tablet-dubs2)
			font-size: 25px


	




		



					
				



		





