
.slider
	width: 100% !important
	overflow: hidden !important
	height: 925px !important

	.owl-carousel
		z-index: 100 !important

		div
			img
				width: 100%
				height: auto

.owl-dots
	z-index: 108 !important
	position: relative !important

.controls
	z-index: 108 !important
	position: relative !important
	+flexbox 
	justify-content: center
	margin-top: -290px
	margin-left: -1005px




	i 
		color: rgba(255,255,255,0.5)
		font-size: 80px
		margin-left: 1010px
		cursor: pointer
		+transition(.5s)
		
		&:hover
			color: $branco

		&:focus
			color: $branco
.description
	position: absolute
	z-index: 108
	background: rgba(0,0,0,0.5)
	padding: 10px
	+flexbox
	flex-direction: column
	border-radius: 12px
	width: 480px
	margin-top: 112px

	h1 
		text-transform: uppercase
		font-family: Hero
		color: $branco
		font-size: 30px
		text-align: center

	h2 
		font-family: Open Sans
		color: $branco
		font-size: 25px
		text-align: center

	h3 
		font-family: Open Sans
		color: $branco
		font-size: 23px
		text-align: center

	button
		background: none
		border: 2px solid $branco
		width: 40%
		color: $branco
		font-family: Hero
		text-transform: uppercase
		font-size: 20px 
		border-radius: 5px
		align-self: center
		cursor: pointer
		+transition(.5s)
		outline: none
		&:hover
			background: $branco
			color: $marrom
			outline: none

		&:focus
			background: $branco
			color: $marrom
			outline: none

.area-desc
	+flexbox 
	justify-content: center



