.botao-o

	margin-left: 30%

	+breakpoint($desktop-med)
		width: 194px
		height: 59px
		margin-left: 28%

	+breakpoint($tablet-mod)
		width: 158px
		height: 48px
		margin-left: 26%

	+breakpoint($tablet-mor)
		width: 220px
	    height: 67px
		margin-left: 29%


		&:hover
			transform: scale(1.0)

	h2
		+breakpoint($desktop-med)
			font-size: 35px

		+breakpoint($tablet-mod)
			font-size: 30px

		+breakpoint($tablet-mor)
			font-size: 40px


.botao-p

	margin-left: 17%

	+breakpoint($desktop-med)
		width: 319px
		height: 61px
		margin-left: 15%

	+breakpoint($tablet-mod)
		width: 282px
		height: 54px
		margin-left: 7%
	
	+breakpoint($tablet-mor)
		width: 360px
		height: 67px
		margin-left: 14%

		&:hover
			transform: scale(1.0)


	h2
		+breakpoint($desktop-med)
			font-size: 35px

		+breakpoint($tablet-mod)
			font-size: 30px

		+breakpoint($tablet-mor)
			font-size: 40px

.botao-e

	margin-left: 30%

	+breakpoint($desktop-med)
		width: 175px
		height: 53px

	+breakpoint($tablet-mod)
		width: 164px
		height: 50px
		margin-left: 26%

	+breakpoint($tablet-mor)
		width: 200px
		height: 67px
		margin-left: 30%


		&:hover
			transform: scale(1.0)

	h2
		+breakpoint($desktop-med)
			font-size: 35px
		
		+breakpoint($tablet-mod)
			font-size: 30px
		
		+breakpoint($tablet-mor)
			font-size: 40px


			




