/*Estilo das tags gerais usadas para definir o status das obras dos empreendimentos*/
/*Alguns estilos especificos para a aplicação das tags em algumas paginas estão utilizando clases especificas editadas em outros arquivos*/
/*Tag Pronto Para Morar*/
.tag-g
	justify-content: center
	align-items: center
	text-align: center
	+clearfix
	+flexbox

	/*Texto da Tag*/
	h2
		font-size: Raleway
		color: $branco
		text-align: center
		font-size: 40px
		margin-top: 5px

/*Tag Obras*/
.tag-p
	justify-content: center
	align-items: center
	text-align: center
	+clearfix
	+flexbox

	/*Texto da Tag*/
	h2
		font-size: Raleway
		color: $branco
		text-align: center
		font-size: 40px
		margin-top: 5px

		/*Media Queries*/
		+breakpoint($desktop-med)
			font-size: 35px

		+breakpoint($tablet-mod)
			font-size: 28px
			margin-top: 8px

/*Tag Entregue*/
.tag-e
	justify-content: center
	align-items: center
	text-align: center
	+clearfix
	+flexbox

	/*Texto da Tag*/
	h2
		font-size: Raleway
		color: $branco
		text-align: center
		font-size: 40px
		margin-top: 5px		

/*Efeitos de complemento da Tag Obras*/
.obras
	width: 220px
	height: 67px
	background-color: $dourado
	border-radius: 10px
	+transition(.5s)

	/*Efeito de Cursor*/
	&:hover
		background-color: $dourado-dark
		transform: scale(1.2)

/*Efeitos de complemento da Tag Pronto Para Morar*/
.pronto
	width: 360px
	height: 67px
	background-color: $verde-claro
	border-radius: 10px
	+transition(.5s)

	/*Efeito de Cursor*/
	&:hover
		background-color: $verde-medio
		transform: scale(1.2)


/*Efeitos de complemento da Tag Entregue*/
.entregue
	width: 200px
	height: 67px
	background-color: $verde-escuro
	border-radius: 10px
	+transition(.5s)

	/*Efeito de Cursor*/
	&:hover
		background-color: $verde-ultra
		transform: scale(1.2)




				




	
		


	


	



