.home-o
	width: 98px
	height: 30px
	border-radius: 5px
	margin-top: 10px
	margin-left: 125px
	align-items: center
	justify-content: center
	position: absolute

	+breakpoint($desktop-med)
		margin-left: 210px
		width: 134px
		height: 42px

	+breakpoint($tablet-dubs2)
		margin-left: 140px

	+breakpoint($smartphone-lcva2)
		margin-left: 100px

	+breakpoint($smartphone-mud2)
		margin-left: 80px

	h2
		font-size: 18px
		margin-top: 10px

		+breakpoint($desktop-med)
			font-size: 23px


.home-p
	width: 186px
	height: 35px
	border-radius: 5px
	margin-top: 10px
	margin-left: 88px
	align-items: center
	justify-content: center
	position: absolute

	+breakpoint($desktop-med)
		width: 212px
		height: 41px
		margin-left: 160px

	+breakpoint($tablet-dubs2)
		margin-left: 100px

	+breakpoint($smartphone-lcva2)
		margin-left: 60px

	+breakpoint($smartphone-mud2)
		margin-left: 40px


	h2
		font-size: 20px
		margin-top: 8px

		+breakpoint($desktop-med)
			font-size: 23px




