.botao-o

	margin-left: 30%

	+breakpoint($desktop-med)
		width: 194px
		height: 59px
		margin-left: 28%

		&:hover
			transform: scale(1.0)

	h2
		+breakpoint($desktop-med)
			font-size: 35px

.botao-p

	margin-left: 17%

	+breakpoint($desktop-med)
		width: 319px
		height: 61px
		margin-left: 15%

		&:hover
			transform: scale(1.0)


	h2
		+breakpoint($desktop-med)
			font-size: 35px

.botao-e

	margin-left: 30%

	+breakpoint($desktop-med)
		width: 175px
		height: 53px

		&:hover
			transform: scale(1.0)

	h2
		+breakpoint($desktop-med)
			font-size: 35px

			




